  
.login{  
        width: 382px;  
        line-height: 30px;
        overflow: hidden;  
        margin: auto; 
        margin-top: 60px; 
        padding: 100px;  
        background: green;  
        border-radius: 15px ;  
          
}  
button{
    background-color: lightgreen;
}
 button:hover{
background-color: grey;
 }