  
.login{  
        width: 382px;  
        line-height: 30px;
        overflow: hidden;  
        margin: auto; 
        margin-top: 60px; 
        padding: 100px;  
        background:lightgray;  
        border-radius: 15px ;  
          
}  
button{
    margin-top: 20px;
    background-color: lightskyblue;
    font-size: 20px;
    margin: 5px;
}
 button:hover{
background-color: lime;
 }
 h2{
    color: blue;
    background-color: lightblue;
} 
h4{
    text-align: left;
}
h4:hover{
    color: lime;
}