
.Reg2{  
        width: 382px;  
        line-height: 30px;
        overflow: hidden;  
        margin: auto; 
        margin-top: 60px; 
        padding: 100px;  
        background: rgb(26, 204, 26);  
        border-radius: 15px ;  
          
}  

h3{
    color: blue;
    background-color: lightblue;
} 